# Ignore artifacts:
build
dist
coverage

**/.git
**/.svn
**/.hg
**/node_modules
**/dist

.devcontainer/
.husky/
.gitignore
.eslintignore
.prettierignore
commitlint.config.js
package-lock.json
LICENSE
**/*.md